@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Open+Sans:ital,wght@1,300&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*:before,
*:after {
	box-sizing: inherit;
}

html {
	padding: 0;
	margin: 0;
	display: inline;
	overflow-x: hidden;
	overflow-y: scroll;
	height: 100%;
	box-sizing: border-box;
}
body {
	height: 100%;
	margin: 0;
	background: #e3e8e7;
	font-family: "Poppins", sans-serif;
}
p {
	margin: 0;
}
a {
	text-decoration: none;
}
/* Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: #4ecb71 #ffffff;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
	height: 10px;
	width: 10px;
}
*::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: #ffffff;
}

*::-webkit-scrollbar-track:hover {
	background-color: #f2f2f2;
}

*::-webkit-scrollbar-track:active {
	background-color: #ffffff;
}

*::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: #4ecb71;
}

*::-webkit-scrollbar-thumb:hover {
	background-color: #40a65d;
}

*::-webkit-scrollbar-thumb:active {
	background-color: #4ecb71;
}
